.about {
    margin-top: 120px;
    padding: 35px 24px 0 24px;

    display: grid;
    grid-template-columns: 334px auto;
    gap: 26px;
}

.about__logo {
    width: 240px;
    height: 240px;

    background-color: var(--black);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
    display: block;
}

.about__column {
    padding-top: 98px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.about__title {
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text__p {
    line-height: 1.2;
}