:root {
  --black: #000000;
  --white: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 82px;
  font-family: Raleway;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

address {
  font-style: normal;
}

button {
  font: inherit;
}